<template name="question">
  <div class="container-fluid">
    <div class="form-group">
      <a href="/questionPage/{{id}}"><li>{{text}}</li></a>
      <li class="owner">by {{ownerUsername}}</li>
      {{#if isOwner}}
        <button class="btn btn-default toggle-private">
          {{#if privateState}}
            Private
          {{else}}
            Public
          {{/if}}
        </button>
        <button class="btn btn-default delete">&times;</button>
      {{/if}}
    </div>
  </div>
</template>
